Repository ITU-BDSA2024-GROUP10/Chirp, pull requests merged in 2024-10, with the labels that each got.

#133 Disabeld not working test
  Chirp/test/webApplication.Tests/IntegrationTestOfAPI.cs
Labels: test

#134 Create TEMP
  TEMP
Labels: feature, breaking

#136 Split and fix the release workflow
  .github/workflows/Create_tag_on_merge _to_main.yml
  .github/workflows/automatic-release.yml
Labels: workflow

#137 Split and fix the release workflow
  .github/workflows/automatic-release.yml
Labels: workflow

#138 Updated zipping paths
  .github/workflows/automatic-release.yml
Labels: workflow

#139 Updated build path
  .github/workflows/release_to_azure.yml
Labels: workflow

#144 Add pagination of cheeps
  Chirp/src/Chirp.Razor/CheepService.cs
  Chirp/src/Chirp.Razor/Pages/Public.cshtml.cs
  Chirp/src/SimpleDB/IDatabaseRepository.cs
  Chirp/src/SimpleDB/SQLiteDBFascade.cs
Labels: feature

#147 Data models for chirp razor
  Chirp/src/Chirp.Razor/Chirp.Razor.csproj
  Chirp/src/Chirp.Razor/DataModels/Author.cs
  Chirp/src/Chirp.Razor/DataModels/Cheep.cs
Labels: refactor

#148 Add pagination of cheeps
  Chirp/src/Chirp.Razor/Pages/Public.cshtml.cs
  Chirp/src/Chirp.Razor/Pages/UserTimeline.cshtml.cs
  Chirp/src/SimpleDB/SQLiteDBFascade.cs
Labels: feature

#150 Add a data transfer object
  Chirp/.idea/.idea.Chirp/.idea/sqldialects.xml
  Chirp/Chirp.sln
  Chirp/src/Chirp.Razor/CheepService.cs
  Chirp/src/Chirp.Razor/Chirp.Razor.csproj
  Chirp/src/Chirp.Razor/Pages/Public.cshtml
  Chirp/src/Chirp.Razor/Pages/Public.cshtml.cs
  Chirp/src/Chirp.Razor/Pages/UserTimeline.cshtml
  Chirp/src/Chirp.Razor/Pages/UserTimeline.cshtml.cs
  Chirp/src/Chirp.Razor/Program.cs
  Chirp/src/DBFacade/DBFacade.csproj
  Chirp/src/DBFacade/DTO/CheepDTO.cs
  Chirp/src/DBFacade/IDatabaseRepository.cs
  Chirp/src/DBFacade/Model/Author.cs
  Chirp/src/DBFacade/Model/Cheep.cs
  Chirp/src/DBFacade/SQLiteDBFascade.cs
  Chirp/src/SimpleDB/Model/CheepViewModel.cs
  Chirp/src/SimpleDB/SQLiteDBFascade.cs
  Chirp/src/SimpleDB/SimpleDB.csproj
  Chirp/test/Chirp.SimpleDB.Tests/Chirp.SimpleDB.Tests.csproj
Labels: refactor

#151 Getting fixed functionality
  Chirp/src/Chirp.Razor/CheepService.cs
  Chirp/src/Chirp.Razor/Pages/Public.cshtml
  Chirp/src/Chirp.Razor/Pages/Public.cshtml.cs
  Chirp/src/Chirp.Razor/Pages/UserTimeline.cshtml
  Chirp/src/Chirp.Razor/Pages/UserTimeline.cshtml.cs
  Chirp/src/Chirp.Razor/Program.cs
  Chirp/src/DBFacade/DTO/CheepDTO.cs
  Chirp/src/DBFacade/Model/CheepViewModel.cs
  Chirp/src/DBFacade/SQLiteDBFascade.cs
  Chirp/src/SimpleDB/SQLiteDBFascade.cs
Labels: refactor

#153 Updated old uses of enviroment tag variabel accsesing
  .github/workflows/automatic-release.yml
Labels: workflow

#154 Changed release directory path
  .github/workflows/automatic-release.yml
Labels: workflow

#155 Db context
  .gitignore
  Chirp/.idea/.idea.Chirp/.idea/sqldialects.xml
  Chirp/src/Chirp.Razor/CheepService.cs
  Chirp/src/Chirp.Razor/Chirp.Razor.csproj
  Chirp/src/Chirp.Razor/Program.cs
  Chirp/src/Chirp.Razor/appsettings.json
  Chirp/src/DBFacade/CheepRepository.cs
  Chirp/src/DBFacade/ChirpDBContext.cs
  Chirp/src/DBFacade/DBFacade.csproj
  Chirp/src/DBFacade/DbInitializer.cs
  Chirp/src/DBFacade/ICheepRepository.cs
  Chirp/src/DBFacade/IDatabaseRepository.cs
  Chirp/src/DBFacade/Migrations/20241007155810_IntialDBSchema.Designer.cs
  Chirp/src/DBFacade/Migrations/20241007155810_IntialDBSchema.cs
  Chirp/src/DBFacade/Migrations/20241007203813_UpdatingAttributeNames.Designer.cs
  Chirp/src/DBFacade/Migrations/20241007203813_UpdatingAttributeNames.cs
  Chirp/src/DBFacade/Migrations/ChirpDBContextModelSnapshot.cs
  Chirp/src/DBFacade/Model/Author.cs
  Chirp/src/DBFacade/Model/Cheep.cs
  Chirp/src/DBFacade/SQLiteDBFascade.cs
Labels: refactor

#164 Refactor the program to follow the onion pattern
  Chirp/Chirp.sln
  Chirp/src/Chirp.Core/Chirp.Core.csproj
  Chirp/src/Chirp.Core/ChirpDbContext.cs
  Chirp/src/Chirp.Core/DTO/CheepDTO.cs
  Chirp/src/Chirp.Core/DbInitializer.cs
  Chirp/src/Chirp.Core/Migrations/20241007155810_IntialDBSchema.Designer.cs
  Chirp/src/Chirp.Core/Migrations/20241007155810_IntialDBSchema.cs
  Chirp/src/Chirp.Core/Migrations/20241007203813_UpdatingAttributeNames.Designer.cs
  Chirp/src/Chirp.Core/Migrations/20241007203813_UpdatingAttributeNames.cs
  Chirp/src/Chirp.Core/Migrations/ChirpDBContextModelSnapshot.cs
  Chirp/src/Chirp.Core/Model/Author.cs
  Chirp/src/Chirp.Core/Model/Cheep.cs
  Chirp/src/Chirp.Infrastructure/CheepRepository.cs
  Chirp/src/Chirp.Infrastructure/Chirp.Infrastructure.csproj
  Chirp/src/Chirp.Infrastructure/ICheepRepository.cs
  Chirp/src/Chirp.Web/.azure/config
  Chirp/src/Chirp.Web/CheepService.cs
  Chirp/src/Chirp.Web/Chirp.Web.csproj
  Chirp/src/Chirp.Web/Pages/Public.cshtml
  Chirp/src/Chirp.Web/Pages/Public.cshtml.cs
  Chirp/src/Chirp.Web/Pages/Shared/_Layout.cshtml
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml.cs
  Chirp/src/Chirp.Web/Program.cs
  Chirp/src/Chirp.Web/Properties/launchSettings.json
  Chirp/src/Chirp.Web/appsettings.Development.json
  Chirp/src/Chirp.Web/appsettings.json
  Chirp/src/Chirp.Web/wwwroot/css/style.css
  Chirp/src/Chirp.Web/wwwroot/favicon/favicon.ico
  Chirp/src/Chirp.Web/wwwroot/images/icon1.png
  Chirp/src/DBFacade/ChirpDbContext.cs
Labels: refactor

#165 Implement iauthorrepository
  Chirp/src/Chirp.Core/DTO/AuthorDTO.cs
  Chirp/src/Chirp.Infrastructure/IAuthorRepository.cs
Labels: feature

#166 Restrict maximum length of cheeps
  .idea/Chirp.iml
  .idea/modules.xml
  .idea/vcs.xml
  Chirp/src/Chirp.Core/ChirpDbContext.cs
Labels: refactor

#168 Update the icheeprepository
  Chirp/src/Chirp.Infrastructure/CheepRepository.cs
  Chirp/src/Chirp.Infrastructure/ICheepRepository.cs
Labels: feature

#169 Empty implementation of iautherrepo
  Chirp/src/Chirp.CLI.Client/.idea/.idea.Chirp.CLI.Client.dir/.idea/.gitignore
  Chirp/src/Chirp.CLI.Client/.idea/.idea.Chirp.CLI.Client.dir/.idea/encodings.xml
  Chirp/src/Chirp.CLI.Client/.idea/.idea.Chirp.CLI.Client.dir/.idea/indexLayout.xml
  Chirp/src/Chirp.CLI.Client/.idea/.idea.Chirp.CLI.Client.dir/.idea/vcs.xml
  Chirp/src/Chirp.Infrastructure/AuthorRepository.cs
Labels: code feature

#181 Create test projects for the repos
  Chirp/Chirp.sln
  Chirp/test/RepositoryTests/AuthorRepositoryUnitTest.cs
  Chirp/test/RepositoryTests/CheepRepositoryUnitTest.cs
  Chirp/test/RepositoryTests/RepositoryTests.csproj
Labels: test

#188 Updated gitignore
  .gitignore
Labels: code feature

#190 Implement getauthrobyname
  Chirp/src/Chirp.Infrastructure/AuthorRepository.cs
  Chirp/src/Chirp.Infrastructure/IAuthorRepository.cs
Labels: code feature

#192 Integration test of the private timeline
  Chirp/src/Chirp.Web/Program.cs
  Chirp/test/webApplication.Tests/IntegrationTestOfAPI.cs
  Chirp/test/webApplication.Tests/Utils/CostumeWebApplicationFactory.cs
  Chirp/test/webApplication.Tests/webApplication.Tests.csproj
Labels: test

#201 Implement add author
  Chirp/src/Chirp.Infrastructure/AuthorRepository.cs
Labels: code feature

#205 Excluded .idea
  .gitignore
Labels: code feature

#186 Test author getauthorbyemail
  Chirp/test/RepositoryTests/AuthorRepositoryUnitTest.cs
  Chirp/test/RepositoryTests/RepositoryTests.csproj
Labels: test

#213 Fix author repo test
  Chirp/test/RepositoryTests/AuthorRepositoryUnitTest.cs
Labels: test

#209 Test public timeline
  .gitignore
  Chirp/test/webApplication.Tests/IntegrationTestOfAPI.cs
Labels: test

#211 Unit test for the public timeline
  Chirp/Chirp.sln
  Chirp/Web.UnitTests/PageModelUnitTests.cs
  Chirp/Web.UnitTests/Web.UnitTests.csproj
Labels: test

#199 Create a workflow that checks if there are any warnings
  .github/workflows/check-for-warnings.yaml
Labels: workflow

#208 Added trigger for when tags are created on github
  .github/workflows/automatic-release.yml
Labels: workflow

#228 Updated create to only happend when a tag is created
  .github/workflows/automatic-release.yml
Labels: workflow

#227 Update release_to_azure.yml
  .github/workflows/release_to_azure.yml
Labels: workflow

#226 Added initial 3 tests for GetCheepFromAuthor
  Chirp/test/RepositoryTests/CheepRepositoryUnitTest.cs
Labels: test

#235 Fix workflow triggers
  .github/workflows/Create_tag_on_merge _to_main.yml
  .github/workflows/automatic-release.yml
  .github/workflows/release_to_azure.yml
Labels: workflow

#237 Modify workflows to use secrets for test
  .github/workflows/Create_tag_on_merge _to_main.yml
  .github/workflows/automatic-release.yml
  .github/workflows/build-and-test.yaml
Labels: workflow

#238 Removed --no build
  .github/workflows/automatic-release.yml
Labels: workflow

#225 Initial 4 test cases added for GetCheepsByPage
  Chirp/src/Chirp.Core/CheepService.cs
  Chirp/src/Chirp.Core/ICheepRepository.cs
  Chirp/src/Chirp.Infrastructure/CheepRepository.cs
  Chirp/src/Chirp.Web/database/Chirp.db
  Chirp/src/Chirp.Web/database/Chirp.db-shm
  Chirp/src/Chirp.Web/database/Chirp.db-wal
  Chirp/test/RepositoryTests/CheepRepositoryUnitTest.cs
Labels: test

#240 Created and Tested createcheep
  Chirp/src/Chirp.Infrastructure/CheepRepository.cs
  Chirp/test/RepositoryTests/CheepRepositoryUnitTest.cs
Labels: code feature

#241 Updated label cheks to be only the word
  .github/workflows/Create_tag_on_merge _to_main.yml
Labels: workflow

#236 Oauth via GitHub
  .github/workflows/build-and-test.yaml
  Chirp/src/Chirp.Web/Areas/Identity/Pages/Account/ExternalLogin.cshtml
  Chirp/src/Chirp.Web/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  Chirp/src/Chirp.Web/Chirp.Web.csproj
  Chirp/src/Chirp.Web/Pages/Shared/_Layout.cshtml
  Chirp/src/Chirp.Web/Program.cs
Labels: feature

#242 Fix workflow using test
  .github/workflows/Create_tag_on_merge _to_main.yml
  .github/workflows/automatic-release.yml
Labels: workflow

#243 Update automatic-release.yml
  .github/workflows/automatic-release.yml
  .github/workflows/release_to_azure.yml
Labels: workflow

#244 Fix check mistake
  .github/workflows/automatic-release.yml
  .github/workflows/release_to_azure.yml
Labels: workflow

#245 Refactor cheeprepositorytest
  Chirp/test/RepositoryTests/CheepRepositoryUnitTest.cs
Labels: refactor

#247 Removed on create
  .github/workflows/automatic-release.yml
Labels: workflow

#246 Extract db creation code from test
  .github/workflows/automatic-release.yml
  Chirp/test/RepositoryTests/AuthorRepositoryUnitTest.cs
  Chirp/test/RepositoryTests/CheepRepositoryUnitTest.cs
  Chirp/test/RepositoryTests/Utils/InMemoryDBFixture.cs
Labels: test
