Repository ITU-BDSA2024-GROUP10/Chirp, pull requests merged in 2024-11, with the labels that each got.

#254 Test end to end for chirp application
  .github/workflows/Create_tag_on_merge _to_main.yml
  .github/workflows/automatic-release.yml
  .github/workflows/build-and-test.yaml
  Chirp/Chirp.sln
  Chirp/test/PlaywrightTests/CompositeHost.cs
  Chirp/test/PlaywrightTests/CustomWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/EndToEndTests.cs
  Chirp/test/PlaywrightTests/GlobalUsings.cs
  Chirp/test/PlaywrightTests/PageTestWithCustomWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/PlaywrightTests.csproj
  Chirp/test/PlaywrightTests/UITest.cs
Labels: code feature

#255 FluentValidation for constraining the length of a cheep message
  Chirp/src/Chirp.Infrastructure/Chirp.Infrastructure.csproj
  Chirp/src/Chirp.Infrastructure/Model/Cheep.cs
Labels: code feature

#253 Logged in users can post cheeps
  Chirp/src/Chirp.Core/CheepService.cs
  Chirp/src/Chirp.Web/Pages/BindingModels/MessageModel.cs
  Chirp/src/Chirp.Web/Pages/Public.cshtml
  Chirp/src/Chirp.Web/Pages/Shared/Components/SubmitCheep/Default.cshtml
  Chirp/src/Chirp.Web/Pages/Shared/Components/SubmitCheep/Unauthenticated.cshtml
  Chirp/src/Chirp.Web/Pages/SubmitCheep.cshtml
  Chirp/src/Chirp.Web/Pages/SubmitCheep.cshtml.cs
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml
  Chirp/src/Chirp.Web/ViewComponents/SubmitCheepViewComponent.cs
Labels: feature

#261 Added length requirement in MessageModel
  Chirp/src/Chirp.Web/Pages/BindingModels/MessageModel.cs
Labels: feature

#267 Made the test non parallelizable
  Chirp/test/PlaywrightTests/CustomWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/EndToEndTests.cs
  Chirp/test/PlaywrightTests/PageTestWithCustomWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/UITest.cs
Labels: test

#257 dispose of _client after each test
  Chirp/test/PlaywrightTests/PageTestWithCustomWebApplicationFactory.cs
Labels: test

#265 fix constrain of cheep messages
  Chirp/src/Chirp.Web/Pages/Public.cshtml
  Chirp/src/Chirp.Web/Pages/Public.cshtml.cs
  Chirp/src/Chirp.Web/Pages/Shared/Components/SubmitCheep/Default.cshtml
  Chirp/src/Chirp.Web/Pages/Shared/Components/Timelines/TimeLinePageModel.cs
  Chirp/src/Chirp.Web/Pages/SubmitCheep.cshtml
  Chirp/src/Chirp.Web/Pages/SubmitCheep.cshtml.cs
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml.cs
  Chirp/src/Chirp.Web/ViewComponents/SubmitCheepViewComponent.cs
Labels: bug

#269 Cheepbox visibility based on user status
  Chirp/test/PlaywrightTests/UITest.cs
Labels: test

#270 Change custom web application factory
  Chirp/test/PlaywrightTests/CustomWebApplicationFactory.cs
  Chirp/test/TestUtils/InMemoryCostumeWebApplicationFactory.cs
  Chirp/test/TestUtils/TestUtils.csproj
  Chirp/test/Web.UnitTests/RazorPageIntegrationTest.cs
  Chirp/test/Web.UnitTests/Utils/RazorWebApplicationFactory.cs
  Chirp/test/webApplication.Tests/IntegrationTestOfAPI.cs
Labels: refactor

#272 Test for sql injections attacks
  Chirp/test/PlaywrightTests/SQLInjectionTests.cs
Labels: test

#273 Finnish end to end test for chirp application
  Chirp/test/PlaywrightTests/EndToEndTests.cs
Labels: test

#275 Cross site scripting tets
  Chirp/test/PlaywrightTests/CrossSiteScriptingTest.cs
Labels: test

#282 Remove unnecessary functionality
  Chirp/src/Chirp.Core/IAuthorRepository.cs
  Chirp/src/Chirp.Infrastructure/AuthorRepository.cs
  Chirp/test/RepositoryTests/AuthorRepositoryUnitTest.cs
Labels: refactor

#284 Test the UI of pagination for the public and private timeline
  Chirp/src/Chirp.Web/Chirp.Web.csproj
  Chirp/src/Chirp.Web/Pages/Public.cshtml.cs
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml.cs
  Chirp/test/PlaywrightTests/PlaywrightTests.csproj
  Chirp/test/PlaywrightTests/UITest.cs
  Chirp/test/PlaywrightTests/Utils/CustomWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/Utils/PageTestWithCustomWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/Utils/RazorPlaywrightWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/headed.runsettings
  Chirp/test/Utils/TestUtils/InMemoryCostumeWebApplicationFactory.cs
Labels: test

#285 Create buttons to change between pages
  Chirp/src/Chirp.Web/Pages/Public.cshtml
  Chirp/src/Chirp.Web/Pages/Public.cshtml.cs
  Chirp/src/Chirp.Web/Pages/Shared/Components/PageButtons/Default.cshtml
  Chirp/src/Chirp.Web/Pages/Shared/Components/Timelines/TimeLinePageModel.cs
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml.cs
  Chirp/src/Chirp.Web/ViewComponents/PageButtonsViewComponent.cs
  Chirp/test/PlaywrightTests/CrossSiteScriptingTest.cs
  Chirp/test/PlaywrightTests/EndToEndTests.cs
  Chirp/test/PlaywrightTests/SQLInjectionTests.cs
  Chirp/test/PlaywrightTests/UITest.cs
  Chirp/test/PlaywrightTests/Utils/PageTestWithDuende.cs
  Chirp/test/PlaywrightTests/Utils/PageTestWithRazorPlaywrightWebApplicationFactory.cs
Labels: feature

#288 Change tag behvior for workflows
  .github/workflows/Create_tag_on_merge _to_main.yml
  .github/workflows/check for lable.yaml
Labels: bug, refactor, workflow

#287 Test the integration of the external login
  Chirp/src/Chirp.Web/Areas/Identity/Pages/Account/ExternalLogin.cshtml
  Chirp/src/Chirp.Web/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  Chirp/src/Chirp.Web/Program.cs
  Chirp/test/PlaywrightTests/ExternalTests.cs
  Chirp/test/PlaywrightTests/UITest.cs
  Chirp/test/PlaywrightTests/Utils/PageTestWithRazorPlaywrightWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/Utils/headed.runsettings
  Chirp/test/Utils/Duende.Identity.Server/TestUsers.cs
Labels: feature

#293 Update Program.cs
  Chirp/src/Chirp.Web/Program.cs
Labels: bug

#294 Refactor the public and private timeline to extract duplicate code
  Chirp/src/Chirp.Web/Pages/Public.cshtml
  Chirp/src/Chirp.Web/Pages/Public.cshtml.cs
  Chirp/src/Chirp.Web/Pages/Shared/Components/CheepList/Default.cshtml
  Chirp/src/Chirp.Web/Pages/Shared/TimeLinePageModel.cs
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml.cs
  Chirp/src/Chirp.Web/ViewComponents/CheepListViewComponent.cs
Labels: refactor

#300 Make the private timeline endpoint case insensitive
  Chirp/src/Chirp.Infrastructure/AuthorRepository.cs
  Chirp/src/Chirp.Infrastructure/CheepRepository.cs
  Chirp/src/Chirp.Infrastructure/DbInitializer.cs
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml.cs
  Chirp/test/PlaywrightTests/UITest.cs
  Chirp/test/RepositoryTests/AuthorRepositoryUnitTest.cs
  Chirp/test/RepositoryTests/CheepRepositoryUnitTest.cs
  Chirp/test/webApplication.Tests/IntegrationTestOfAPI.cs
Labels: bug, test

#301 Adding clean to the deploy
  .github/workflows/release_to_azure.yml
Labels: bug, workflow

#309 Update MessageModel.cs
  Chirp/src/Chirp.Web/Pages/BindingModels/MessageModel.cs
Labels: refactor

#314 Test follow and unfollow of authorrepository
  Chirp/Chirp.sln
  Chirp/src/Chirp.Core/CustomException/UserDoesNotExist.cs
  Chirp/src/Chirp.Infrastructure/AuthorRepository.cs
  Chirp/src/Chirp.Infrastructure/Model/Author.cs
  Chirp/test/PlaywrightTests/CrossSiteScriptingTest.cs
  Chirp/test/PlaywrightTests/EndToEndTests.cs
  Chirp/test/PlaywrightTests/PlaywrightTests.csproj
  Chirp/test/PlaywrightTests/SQLInjectionTests.cs
  Chirp/test/PlaywrightTests/UITest.cs
  Chirp/test/PlaywrightTests/Utils/DuendePlaywrightWebAppFactory.cs
  Chirp/test/PlaywrightTests/Utils/RazorPlaywrightWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/Utils/headed.runsettings
  Chirp/test/RepositoryTests/AuthorRepositoryUnitTest.cs
  Chirp/test/RepositoryTests/CheepRepositoryUnitTest.cs
  Chirp/test/RepositoryTests/RepositoryTests.csproj
  Chirp/test/Utils/TestUtilities/DuendeWebAppFactory.cs
  Chirp/test/Utils/TestUtilities/InMemoryCostumeWebApplicationFactory.cs
  Chirp/test/Utils/TestUtilities/TestUtilities.csproj
  Chirp/test/Utils/TestUtilities/TestUtils.cs
  Chirp/test/Web.UnitTests/Utils/RazorWebApplicationFactory.cs
  Chirp/test/Web.UnitTests/Web.UnitTests.csproj
  Chirp/test/webApplication.Tests/IntegrationTestOfAPI.cs
  Chirp/test/webApplication.Tests/webApplication.Tests.csproj
Labels: test

#316 About me implementation
  Chirp/src/Chirp.Core/ICheepRepository.cs
  Chirp/src/Chirp.Infrastructure/CheepRepository.cs
  Chirp/src/Chirp.Web/Pages/AboutMe.cshtml
  Chirp/src/Chirp.Web/Pages/AboutMe.cshtml.cs
  Chirp/src/Chirp.Web/Pages/Shared/_LoginPartial.cshtml
  Chirp/test/PlaywrightTests/UITest.cs
  Chirp/test/RepositoryTests/CheepRepositoryUnitTest.cs
Labels: feature, test

#318 Update check for lable.yaml
  .github/workflows/check for lable.yaml
Labels: refactor, workflow

#320 Refactor test code to be less redundant
  Chirp/test/PlaywrightTests/CrossSiteScriptingTest.cs
  Chirp/test/PlaywrightTests/EndToEndTests.cs
  Chirp/test/PlaywrightTests/ExternalTests.cs
  Chirp/test/PlaywrightTests/FollowUnfollowTests.cs
  Chirp/test/PlaywrightTests/SQLInjectionTests.cs
  Chirp/test/PlaywrightTests/UITest.cs
  Chirp/test/PlaywrightTests/Utils/Factories/CompositeHost.cs
  Chirp/test/PlaywrightTests/Utils/Factories/CreateHostUsingKestrel.cs
  Chirp/test/PlaywrightTests/Utils/Factories/DuendePlaywrightWebAppFactory.cs
  Chirp/test/PlaywrightTests/Utils/Factories/RazorPlaywrightWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/Utils/PageTestWithRazorPlaywrightWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/Utils/PageTests/PageTestWithDuende.cs
  Chirp/test/PlaywrightTests/Utils/PageTests/PageTestWithRazorPlaywrightWebApplicationFactory.cs
  Chirp/test/PlaywrightTests/Utils/PageUtils.cs
  Chirp/test/PlaywrightTests/Utils/TestAuthorBuilder.cs
Labels: refactor, test

#326 Update our repository test
  Chirp/test/RepositoryTests/AuthorRepositoryUnitTest.cs
  Chirp/test/RepositoryTests/CheepRepositoryUnitTest.cs
  Chirp/test/RepositoryTests/Utils/InMemoryDBFixture.cs
Labels: test

#322 Make it so you cant cheep from other users private timeline
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml
  Chirp/test/PlaywrightTests/UITest.cs
Labels: bug, test

#327 Fixed test
  Chirp/src/Chirp.Infrastructure/AuthorRepository.cs
  Chirp/test/RepositoryTests/AuthorRepositoryUnitTest.cs
Labels: feature, test

#328 Following doesnt send to the top
  Chirp/src/Chirp.Web/Pages/Follow.cshtml
  Chirp/src/Chirp.Web/Pages/Follow.cshtml.cs
  Chirp/src/Chirp.Web/Pages/Shared/Components/CheepList/Default.cshtml
  Chirp/src/Chirp.Web/Pages/Shared/_Layout.cshtml
  Chirp/src/Chirp.Web/Program.cs
  Chirp/src/Chirp.Web/wwwroot/js/follow.js
  Chirp/test/PlaywrightTests/FollowUnfollowTests.cs
Labels: bug, test

#330 Expand our UI tests
  Chirp/test/PlaywrightTests/UITest.cs
  Chirp/test/PlaywrightTests/UITests/AboutMeTests.cs
  Chirp/test/PlaywrightTests/UITests/CheepBoxTests.cs
  Chirp/test/PlaywrightTests/UITests/GeneralTests.cs
  Chirp/test/PlaywrightTests/UITests/PublicTimelineTests.cs
  Chirp/test/PlaywrightTests/UITests/USerTimelineTests.cs
Labels: test

#331 Make chirp icon redirect to public timeline
  Chirp/src/Chirp.Web/Pages/Shared/_Layout.cshtml
  Chirp/test/PlaywrightTests/EndToEndTests.cs
Labels: feature, test

#333 See the following and follower count on about me
  Chirp/src/Chirp.Core/AuthorService.cs
  Chirp/src/Chirp.Core/IAuthorRepository.cs
  Chirp/src/Chirp.Infrastructure/AuthorRepository.cs
  Chirp/src/Chirp.Web/Pages/AboutMe.cshtml
  Chirp/src/Chirp.Web/Pages/AboutMe.cshtml.cs
  Chirp/test/PlaywrightTests/EndToEndTests.cs
  Chirp/test/PlaywrightTests/UITests/AboutMeTests.cs
  Chirp/test/PlaywrightTests/Utils/TestAuthorBuilder.cs
  Chirp/test/Utils/TestUtilities/InMemoryCostumeWebApplicationFactory.cs
Labels: feature, test

#332 Update the page buttons
  Chirp/src/Chirp.Core/CheepService.cs
  Chirp/src/Chirp.Core/ICheepRepository.cs
  Chirp/src/Chirp.Infrastructure/CheepRepository.cs
  Chirp/src/Chirp.Web/Pages/Public.cshtml
  Chirp/src/Chirp.Web/Pages/Public.cshtml.cs
  Chirp/src/Chirp.Web/Pages/Shared/Components/PageButtons/Default.cshtml
  Chirp/src/Chirp.Web/Pages/Shared/TimeLinePageModel.cs
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml.cs
  Chirp/src/Chirp.Web/ViewComponents/PageButtonsViewComponent.cs
  Chirp/test/PlaywrightTests/UITests/PageButtonsTests.cs
Labels: feature, refactor, test

#334 Added break-word wrap in html
  Chirp/src/Chirp.Web/Pages/Shared/Components/CheepList/Default.cshtml
Labels: bug

#338 Fix bugs with page buttons
  Chirp/src/Chirp.Web/Pages/Shared/Components/PageButtons/Default.cshtml
  Chirp/src/Chirp.Web/Pages/UserTimeline.cshtml
  Chirp/test/PlaywrightTests/UITests/PageButtonsTests.cs
Labels: bug
